/* container for navigation bar */

#navigation-bar {
	width: 100%;
	/* background-color: hotpink; */
	border-top: 5px solid brown;
	/* border-left: 5px solid brown; */
	position: absolute;
	right:0;
    
}

/* For navigation bar */

nav {
	float: right;
	width: 600px;
	/* background-color: purple; */
	/* margin: 0px; */
	padding: 0px;
	margin-right: 77px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	/* background-color: hotpink; */
	text-align: right;
	
}

ul li {
	display:inline-block;
	padding: 0px 0px 0px 5px;
	margin: 0px;
	
}

li a{
	display: block;
	text-decoration: none;
	text-align: center;
	float: center;
	width: 160px;
	height: 30px;
	padding: 15px 0px;
	margin: 0px;
	color: #A52A2A;
	font-size: 25px;
	font-family: Papyrus; /*"Trebuchet MS", Helvetica, sans-serif;*/
    font-weight: 700;
	border-radius: 0px 0px 10px 10px;
	border-bottom: 5px solid brown;
	background-color: #FFF8DC;
}

li a:hover {
	background-color: #F5DEB3;
	border-radius: 0px 0px 10px 10px;
}

li a.active {
	border-bottom: 5px solid #F5DEB3;
	background-color: #F5DEB3;
	opacity:0.7;
}

/* Container for Logo */

#logo {
	width: 30%;
	height: 100px;
	border: 2px solid black;
	
}

#logo img {
	height: 100px;
}

/*Container for main content*/

.mainContent {
    margin: 70px 70px 0px 70px;
    padding: 50px;
    background-color: #F5DEB3;
    border-radius: 10px;
    opacity:0.7;
}

#intro {
    text-align: center;
    font-family:Papyrus;
    /*background-image: url("G:/Angularjs/Techie/Techie/images/notes.jpg");
    background-repeat:round; */
    /*opacity:0.4;*/
    color: #A52A2A;
    font-weight: 600;
    font-size: 20px;
    
}

/*Website background*/

/*body.homeBody*/ 
body {
    background-image: url("G:/Angularjs/Techie/Techie/images/notes.jpg");
    background-repeat: round no-repeat;
}

/*Footer*/

#footer {
    border-top:5px solid brown;
    width: 100%;
    text-align:right;
    color: #F5DEB3;
    
}